body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://cdn.tripster.ru/photos/5bcb7124-569b-4d54-9864-3ba75a09b2fc.jpg);
    background-size: cover; 
    min-height: 100vh;
    background-position:center;
}
h1 {
    color: rgb(245, 240, 240);
    text-transform: uppercase;
    font-size: 60px;
}
h2{
    font-size: 45px;
    color: rgb(245, 240, 240);
}

h3 {
    font-size: 30px;
    color: rgb(245, 240, 240);
    font-style: italic;
}

h4{
    font-size: 25px;
color: rgb(245, 240, 240);
}
p {
    color: rgb(245, 240, 240);
    font-size: 20px;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* предотвратить перенос */
    padding: 5px 30px;
    background-color: hsla(0, 1%, 25%, 0.725);
    }

.navLeft,
.navCenter,
.navRight {
    flex: 1;
    display: flex;
    align-items: center;
}
.navLeft {
    justify-content: flex-start;
}
.navCenter {
    justify-content: center;
}
.navRight {
    justify-content: flex-end;
}


  .profile_name {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  
  .profile_name img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
    
    .topdiv {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
  }
    
  .topmenu {
    text-decoration: none;
    color: #ebe9e9;
    font-weight: bold;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
  }
  
  .searchBar input {
    padding: 5px;
    font-size: 14px;
    border-radius: 15px;
    color:rgb(122, 122, 194);
    border: none;
  }
  
  .searchBar button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 15px;
    color: #ebe9e9;
    background-color: rgb(122, 122, 194);
    border: none;
  }
  
  .searchBar img {
    width: 25px;
    height: 25px;
  }

  .allText {
    position: absolute;
    margin-top: 100px;
    color: rgb(245, 240, 240);
  }
  .mainText {
    margin-left: 30px;
     }
    
  .text{
    background-color: rgba(0, 0, 0, 0.2);
       width: 400px;
       margin-left: 30px;
     }

.textAbout  {
    margin-bottom: 50px;
    margin-left: 40px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.2);
    } 
.ourTeam{
  margin-left:30px;
  margin-bottom: 5px;
}
.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  gap: 10px;
  margin-right:10px;
}
.member {
    background-color: #0a6fc980;
    border-radius: 8px;
    padding: 5px;
    
  }
  .member p {
    margin: 8px 0 0;
    font-size: 16px;
    color: #060606d9;
  }

 .contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 100px;
    color: white;
}
.formContact {
    width: 400px;
}
     #contactForm input,
     #contactForm textarea {
       color: white;
       width: 100%;
       margin-bottom: 20px;
       padding: 8px;
       background-color: #ffffff3b;
       border: none;
     }
     
     

     #contactForm button {
       padding: 10px 20px;
       background-color: rgb(122, 122, 194);
       color:rgb(245, 240, 240);
       width: 100%;
       border: none;
       cursor: pointer;
     }
     #contactForm button:hover {
       background-color: #67a6e9;
     }

/* .searchArea {
  position: relative;
} */

#result {
  position: absolute;
  top: 45px; /* ниже поля поиска */
  left: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  max-height: 400px;
  overflow-y: auto;
}

#result h2 {
  margin: 5px 0;
  font-size: 18px;
  color: #333;
}

#result p {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #555;
}

#result img {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 5px;
}