body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://cdn.tripster.ru/photos/5bcb7124-569b-4d54-9864-3ba75a09b2fc.jpg);
    background-size: cover; 
    min-height: 100vh;
}
h1 {
    color: rgb(245, 240, 240);
    text-transform: uppercase;
    font-size: 60px;
}
h2{
    font-size: large;
}

h3 {
    font-size: larger;
}
p {
    color: rgb(245, 240, 240);
    font-size: 20px;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* предотвратить перенос */
    padding: 10px 20px;
    background-color: hsla(0, 1%, 25%, 0.725);
    gap: 20px; /* необязательно, просто для отступов */
  }
  
  .profile_name {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  
  .profile_name img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .profile_name h1 {
    margin: 0;
    font-size: 24px;
    font-style: italic;
    color: #ebe9e9;
  }
  
  .topdiv {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
  }
  
  .topmenu {
    text-decoration: none;
    color: #ebe9e9;
    font-weight: bold;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
  }
  
  .searchBar input {
    padding: 5px;
    font-size: 14px;
    border-radius: 15px;
    color: rgb(101, 134, 101);
    border: none;
  }
  
  .searchBar button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 15px;
    color: #ebe9e9;
    background-color: rgb(101, 134, 101);
    border: none;
  }
  
  .searchBar img {
    width: 20px;
    height: 20px;
  }

  .allText {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .mainText {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 30px;
     }
    
  .text{
       width: 400px;
       margin-left: 30px;
     }

    .textAbout  {
    margin-bottom: 100px;
    margin-left: 30px;
    width: 800px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    } 
     #contactForm input,
     #contactForm textarea {
       width: 100%;
       margin-bottom: 15px;
       padding: 8px;
     }
     #contactForm button {
       padding: 10px 20px;
       background-color: #007bff;
       color: white;
       border: none;
       cursor: pointer;
     }
     #contactForm button:hover {
       background-color: #0056b3;
     }
 